.Collaborator-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.Collaborator-row:nth-child(odd) {
    background-color: #f5f5f5;
}

.Collaborator-column {
    width: 15%;
}

.Collaborator-column-name {
    width: 30%;
    margin-left: -2rem;
}

.Collaborator-column-avatar {
    max-width: 0;
}

.Delete-collaborator {
    color: red;
    cursor: pointer;
    width: 2%;
    font-size: 200%;
}

.Collaborator-owner {
    margin-bottom: 7px;
}

.Collaborators-number {
    margin-bottom: 2rem;
}
