.Version-header {
    width: 100%;
    height: 64px;
    background-color: #E3F2FD;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Version-header-divider {
    margin: 0 !important;
}

.Navigate-img {
    cursor: pointer;
    margin-right: 1rem;
}

.Version-info {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 20rem;
}

.Version-editor {
    min-height: 90vh;
    background-color: white;
    padding-right: 3%;

}

.Bold {
    font-weight: bold;
}

.Italic {
    font-style: italic;
}

.Set-as-current-version-button {
    background-color: #2196F3 !important;
    color: white !important;
    margin-left: 10rem !important;
}

.Set-as-current-version-button:disabled {
    background-color: rgba(135, 140, 138, 0.73) !important;
}
