.Content {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 80%;
}

.New-article-button {
    background-color: #2196F3 !important;
    color: white !important;
    border-radius: 50px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    height: 3rem !important;
    margin-top: 0.5rem !important;
}

.Article-list {
    margin-top: 1rem;
    background-color: white;
    padding: 15px;
}

.Headers {
    color: #757575;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Article-item {
    display: flex;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Article-item:hover {
    background-color: #C4C4C4;
}

.Headers > div {
    width: 20%;
}

.Article-item > div {
    width: 20%;
}

.Article-divider {
    margin: 0;
}

.Empty-articles {
    font-style: italic;
    padding-top: 1rem;
}

.Flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
